/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Media Queries
+ Text Align
+ Fill
+ Visiblity
+ Aligner

**Components**

+ Push Menu
+ Clean Search
+ Flex Card
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1024px;
  padding: 20px 2.5%;
  margin: 0 auto;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.inline {
  display: inline;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 95%;
    padding: 20px; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 90%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  background-color: #f9f9f9;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 500; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }

.fw-100 {  font-weight: 100; }
.fw-200 {  font-weight: 200; }
.fw-300 {  font-weight: 300; }
.fw-400 {  font-weight: 400; }
.fw-500 {  font-weight: 500; }
.fw-600 {  font-weight: 600; }
.fw-700 {  font-weight: 700; }
.fw-800 {  font-weight: 800; }
.fw-900 {  font-weight: 900; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  text-decoration: none;
}
a:hover {
  color: #666;
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  position: relative;
  color: #444;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 2px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 1.3rem;
  line-height: 2.6rem;
  letter-spacing: .39rem;
  padding: 1.105rem 3.9rem .52rem 3.9rem;
  border-radius: .52rem;
}
.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.btn:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  outline: 0;
}
.btn:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  top: 3px !important;
  background-color: #e5e5e5;
}

.btn-xl {
font-size: 2.0rem;
line-height: 4rem;
letter-spacing: .6rem;
padding: 1.7rem 6rem .8rem 6rem;
border-radius: .8rem;
}

.btn-lg {
font-size: 1.6rem;
line-height: 3.2rem;
letter-spacing: .48rem;
padding: 1.44rem 4.8rem .64rem 4.8rem;
border-radius: .64rem;
}

.btn-md {
font-size: 1.3rem;
line-height: 2.6rem;
letter-spacing: .39rem;
padding: 1.105rem 3.9rem .52rem 3.9rem;
border-radius: .52rem;
}

.btn-sm {
font-size: 1.0rem;
line-height: 2rem;
letter-spacing: .3rem;
padding: .85rem 3rem .4rem 3rem;
border-radius: .4rem;
}

.btn-xs {
font-size: .8rem;
line-height: 1.6rem;
letter-spacing: .24rem;
padding: .68rem 2.4rem .32rem 2.4rem;
border-radius: .32rem;
}

.btn.btn-dark,
button.btn-dark,
input[type="submit"].btn-dark,
input[type="reset"].btn-dark,
input[type="button"].btn-dark {
  color: #FFF;
  background-color: #333333;
  box-shadow:0 3px #000000;
  border-style: none;
}
.btn.btn-dark:hover,
button.btn-dark:hover,
input[type="submit"].btn-dark:hover,
input[type="reset"].btn-dark:hover,
input[type="button"].btn-dark:hover,
.btn.btn-dark:focus,
button.btn-dark:focus,
input[type="submit"].btn-dark:focus,
input[type="reset"].btn-dark:focus,
input[type="button"].btn-dark:focus {
  color: #FFF;
  background-color: #333333;
  border-style: none;
}
.btn.btn-dark:active,
button.btn-dark:active,
input[type="submit"].btn-dark:active,
input[type="reset"].btn-dark:active,
input[type="button"].btn-dark:active,
.btn.btn-dark:active,
button.btn-dark:active,
input[type="submit"].btn-dark:active,
input[type="reset"].btn-dark:active,
input[type="button"].btn-dark:active {
  top: 3px !important;
  box-shadow:none;
  color: #FFF;
  background-color: #444444;
  border-style: none;
}

.btn.btn-red,
button.btn-red,
input[type="submit"].btn-red,
input[type="reset"].btn-red,
input[type="button"].btn-red {
  color: #FFF;
  background-color: #ad1e25;
  box-shadow:0 3px #7a1e2a;
  border-style: none;
}
.btn.btn-red:hover,
button.btn-red:hover,
input[type="submit"].btn-red:hover,
input[type="reset"].btn-red:hover,
input[type="button"].btn-red:hover,
.btn.btn-red:focus,
button.btn-red:focus,
input[type="submit"].btn-red:focus,
input[type="reset"].btn-red:focus,
input[type="button"].btn-red:focus {
  color: #FFF;
  background-color: #ad1e25;
  border-style: none;
}
.btn.btn-red:active,
button.btn-red:active,
input[type="submit"].btn-red:active,
input[type="reset"].btn-red:active,
input[type="button"].btn-red:active,
.btn.btn-red:active,
button.btn-red:active,
input[type="submit"].btn-red:active,
input[type="reset"].btn-red:active,
input[type="button"].btn-red:active {
  top: 3px !important;
  box-shadow:none;
  color: #FFF;
  background-color: #cc000a;
  border-style: none;
}

.btn.btn-orange,
button.btn-orange,
input[type="submit"].btn-orange,
input[type="reset"].btn-orange,
input[type="button"].btn-orange {
  color: #FFF;
  background-color: #eb7413;
  box-shadow:0 3px #c8501c;
  border-style: none;
}
.btn.btn-orange:hover,
button.btn-orange:hover,
input[type="submit"].btn-orange:hover,
input[type="reset"].btn-orange:hover,
input[type="button"].btn-orange:hover,
.btn.btn-orange:focus,
button.btn-orange:focus,
input[type="submit"].btn-orange:focus,
input[type="reset"].btn-orange:focus,
input[type="button"].btn-orange:focus {
  color: #FFF;
  background-color: #eb7413;
  border-style: none;
}
.btn.btn-orange:active,
button.btn-orange:active,
input[type="submit"].btn-orange:active,
input[type="reset"].btn-orange:active,
input[type="button"].btn-orange:active,
.btn.btn-orange:active,
button.btn-orange:active,
input[type="submit"].btn-orange:active,
input[type="reset"].btn-orange:active,
input[type="button"].btn-orange:active {
  top: 3px !important;
  box-shadow:none;
  color: #FFF;
  background-color: #e67350;
  border-style: none;
}


.btn.btn-blue,
button.btn-blue,
input[type="submit"].btn-blue,
input[type="reset"].btn-blue,
input[type="button"].btn-blue {
  color: #FFF;
  background-color: #007bc3;
  box-shadow:0 3px #005180;
  border-style: none;
}
.btn.btn-blue:hover,
button.btn-blue:hover,
input[type="submit"].btn-blue:hover,
input[type="reset"].btn-blue:hover,
input[type="button"].btn-blue:hover,
.btn.btn-blue:focus,
button.btn-blue:focus,
input[type="submit"].btn-blue:focus,
input[type="reset"].btn-blue:focus,
input[type="button"].btn-blue:focus {
  color: #FFF;
  background-color: #007bc3;
  border-style: none;
}
.btn.btn-blue:active,
button.btn-blue:active,
input[type="submit"].btn-blue:active,
input[type="reset"].btn-blue:active,
input[type="button"].btn-blue:active,
.btn.btn-blue:active,
button.btn-blue:active,
input[type="submit"].btn-blue:active,
input[type="reset"].btn-blue:active,
input[type="button"].btn-blue:active {
  top: 3px !important;
  box-shadow:none;
  color: #FFF;
  background-color: #0091e6;
  border-style: none;
}


.btn.btn-green,
button.btn-green,
input[type="submit"].btn-green,
input[type="reset"].btn-green,
input[type="button"].btn-green {
  color: #FFF;
  background-color: #008051;
  box-shadow:0 3px #2c523c;
  border-style: none;
}
.btn.btn-green:hover,
button.btn-green:hover,
input[type="submit"].btn-green:hover,
input[type="reset"].btn-green:hover,
input[type="button"].btn-green:hover,
.btn.btn-green:focus,
button.btn-green:focus,
input[type="submit"].btn-green:focus,
input[type="reset"].btn-green:focus,
input[type="button"].btn-green:focus {
  color: #FFF;
  background-color: #008051;
  border-style: none;
}
.btn.btn-green:active,
button.btn-green:active,
input[type="submit"].btn-green:active,
input[type="reset"].btn-green:active,
input[type="button"].btn-green:active,
.btn.btn-green:active,
button.btn-green:active,
input[type="submit"].btn-green:active,
input[type="reset"].btn-green:active,
input[type="button"].btn-green:active {
  top: 3px !important;
  box-shadow:none;
  color: #FFF;
  background-color: #28a371;
  border-style: none;
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 2px solid #ddd;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 2px solid #ddd;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

  .q-formbox {
      padding: 6px;
  }
  .q-formbox input[type=radio],
  .q-formbox input[type=checkbox] {
      display: inline-block;
      margin-right: 6px;
  }
  .q-formbox input[type=radio] + label,
  .q-formbox input[type=checkbox] + label {
      position: relative;

      display: inline-block;
      margin-right: 12px;

      font-size: 14px;
      line-height: 30px;

      cursor: pointer;
  }

  @media (min-width: 1px) {
      .q-formbox input[type=radio],
      .q-formbox input[type=checkbox] {
          display: none;
          margin: 0;
      }
      .q-formbox input[type=radio] + label,
      .q-formbox input[type=checkbox] + label {
          padding: 0 0 0 24px;
      }
      .q-formbox input[type=radio] + label::before,
      .q-formbox input[type=checkbox] + label::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;

          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block;
          width: 18px;
          height: 18px;
          margin-top: -9px;

          background: #FFF;
      }
      .q-formbox input[type=radio] + label::before {
          border: 2px solid #ccc;
          border-radius: 30px;
      }
      .q-formbox input[type=checkbox] + label::before {
          border: 2px solid #ccc;
      }
      .q-formbox input[type=radio]:checked + label::after,
      .q-formbox input[type=checkbox]:checked + label::after {
          content: "";
          position: absolute;
          top: 50%;

          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block;
      }
      .q-formbox input[type=radio]:checked + label::after {
          left: 5px;

          width: 8px;
          height: 8px;
          margin-top: -4px;

          background: #EB7413;
          border-radius: 8px;
      }
      .q-formbox input[type=checkbox]:checked + label::after {
          left: 3px;

          width: 16px;
          height: 8px;
          margin-top: -8px;

          border-left: 3px solid #EB7413;
          border-bottom: 3px solid #EB7413;

          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
      }
  }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.btn {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

div.spacer-xl {
  width: 100%;
  height: 5em;
}
div.spacer-lg {
  width: 100%;
  height: 80px;
  height: 4em;
}
div.spacer-md {
  width: 100%;
  height: 60px;
  height: 3em;
}
div.spacer-sm {
  width: 100%;
  height: 40px;
  height: 2em;
}
div.spacer-xs {
  width: 100%;
  height: 20px;
  height: 1em;
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1024px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


  /* Text Align
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.tx-left {
  text-align: left;
}
.tx-right {
  text-align: right;
}
.tx-center {
  text-align: center;
}
.tx-justify {
  text-align: justify;
}

  /* Fill
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.fill-dark {
  background-color: #333333;
  color: #f5f5f5;
}

.fill-smoke {
  background-color: #f5f5f5;
  color: #000000;
}

/* Visiblity
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than Desktop HD */
@media (min-width: 1440px) {
  .show-xs {display: none}
  .show-sm {display: none}
  .show-md {display: none}
  .show-lg {display: none}
  .show-xl {display: block}

  .hide-xl {display: none}
}

/* Larger than desktop */
@media (max-width: 1440px) {
  .show-xs {display: none}
  .show-sm {display: none}
  .show-md {display: none}
  .show-lg {display: block}
  .show-xl {display: none}

  .hide-lg {display: none}
}

/* Larger than tablet */
@media (max-width: 1024px) {
  .show-xs {display: none}
  .show-sm {display: none}
  .show-md {display: block}
  .show-lg {display: none}
  .show-xl {display: none}
  .hide-md {display: none}
}

/* Larger than phablet (also point when grid becomes active) */
@media (max-width: 750px) {
  .show-xs {display: none}
  .show-sm {display: block}
  .show-md {display: none}
  .show-lg {display: none}
  .show-xl {display: none}
  .hide-sm {display: none}
}

/* Larger than mobile */
@media (max-width: 550px) {
  .show-xs {display: block}
  .show-sm {display: none}
  .show-md {display: none}
  .show-lg {display: none}
  .show-xl {display: none}
  .hide-xs {display: none}
}

/* Aligner
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.aligner {
  width: 100%;
  position: relative;
}

.aligner .center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.aligner .right {
  position: absolute;
  right: 0;
}
.aligner .left {
  position: absolute;
  left: 0;
}
.aligner .top {
  position: absolute;
  top: 0;
}
.aligner .bottom {
  position: absolute;
  bottom: 0;
}

/* Push Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*! pmenu - v1.0.0 - 2016-3-1
* pmenu is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pmenu/
* by Christopher Yee */
/* Menu Appearance */
.pmenu {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #191918;
  overflow: auto;
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}
.pmenu a {
  display: block;
  color: #FFF;
  padding: 15px 30px;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all  0.2s ease;
}
.pmenu a:hover {
  color: #e3e3e3;
  background-color: #333;
}
.pmenu ul:first-child {
  margin-top: 10px;
  list-style: none;
}

.pmenu ul {
  list-style: none;
}
.pmenu.pmenu-left {
  left: 0;
}
.pmenu.pmenu-right {
  right: 0;
}

/* Menu Movement */
.pmenu-left {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

.pmenu-open-left #wrapper,
.pmenu-open-left .push {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.pmenu-right {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.pmenu-open-right #wrapper,
.pmenu-open-right .push {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

.pmenu-open-left .pmenu,
.pmenu-open-right .pmenu {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Menu Transitions */
#wrapper,
.pmenu,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pmenu-open-left .site-overlay,
.pmenu-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pmenu hr {
  width: 100%;
  border-top: 4px solid #333;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* Submenu Appearance */
.pmenu-submenu {
  /* Submenu Icon */
}
.pmenu-submenu ul {
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out;
}
.pmenu-submenu ul .pmenu-link {
  transition: opacity 0.2s ease-in-out;
}
.pmenu-submenu > a {
  position: relative;
}
.pmenu-submenu > a::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  background: url("../img/arrow.svg") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 0.2s;
}

.pmenu-submenu .pmenu-icon {
padding: 4px;
}

/* Submenu Movement */
.pmenu-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
}
.pmenu-submenu-closed .pmenu-link {
  opacity: 0;
}

.pmenu-submenu-open {
  /* Submenu Icon */
}
.pmenu-submenu-open ul {
  max-height: 1024px;
}
.pmenu-submenu-open .pmenu-link {
  opacity: 1;
}
.pmenu-submenu-open a::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

.no-csstransforms3d .pmenu-submenu-closed ul {
  max-height: none;
  display: none;
}

/* Lists */

nav ul{
    margin: 0;
    padding: 0;
}

/* Header Style */
.pmenu-header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.pmenu-header .header-left {
  text-align: left;
  padding: 10px 20px;
}

.pmenu-header .header-left a {
	font-size: 26px;
	color: #333;
	text-align: center;
	cursor: pointer;
}

.pmenu-header .header-right {
  text-align: right;
  padding: 10px 20px;
}

.pmenu-header .header-right a {
	font-size: 26px;
	color: #333;
	text-align: center;
	cursor: pointer;
}

.pmenu-header .header-center {
  margin: auto;
  padding: 10px 20px;
}

.pmenu-header .header-center h4 {
  margin: 0 auto;
  line-height: 40px;
}

/* Cleab Search
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clean-search {
  opacity: 0;
  display: none;
  z-index: 50;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.clean-search .clean-search-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px !important;
  box-shadow: none;
  border: none;
  width : 95% ; /* IE8以下とAndroid4.3以下用フォールバック */
  width : -webkit-calc(100% - 60px) ;
  width : calc(100% - 60px) ;
  text-align: center;
}

.clean-search .clean-search-btn {
  font-size: 26px;
  height: 60px;
  width: 60px;
  float: right;
  padding-top: 10px;
}

.clean-search .clean-search-btn i {
  color: #222;
  margin-left: 20px;
}

.clean-search-active {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px !important;
  opacity: 1;
  display: block;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
}

input.clean-search-input::-webkit-input-placeholder {
    color: #999;
    letter-spacing: 2px;
    font-weight: 500;
}
input.clean-search-input:-ms-input-placeholder {
    color: #999;
    letter-spacing: 2px;
    font-weight: 500;
}
input.clean-search-input::-moz-placeholder {
    color: #999;
    letter-spacing: 2px;
    font-weight: 500;
}
.checkbox_1 {
  color: red;
}


/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.cards {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 30px;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px 0, rgba(0, 0, 0, 0.15) 0 0 6px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 3px;
}
@media (max-width: 1024px) {
  .card {
    width: 100%;
    margin-right: 0px;
  }
}
@media (min-width: 1024px) {
   .card-1 {
     width: 100%;
  }
   .card-2 {
    max-width: 482px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .card-3 {
    max-width: 314px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .card-2:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .card-2:nth-child(even) {
    margin-right: 0px;
  }
  .card-3:nth-child(even) {
    margin-right: 20px;
  }
  .card-3:nth-child(3n) {
    margin-right: 0;
  }
}
.card span {
  display: block;
}
.card .card-summary {
  padding: 12px;
}
.card .card-header {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}
.card .card-header-img {
  position: relative;
  height: 175px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}
.card .card-header-img:hover, .card .card-header-img:focus {
  background-color: rgba(255, 255, 255, 0);
}
.card .card-header .card-title {
  background: #fff;
  padding: 12px;
  color: #333;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  border-bottom: solid #e5e5e5 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card .card-header-img .card-title {
  background: rgba(0, 0, 0, 0.55);
  padding: 12px 0px;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card > .card-title h3 {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 12px;
  border-bottom: solid #f1f1f1 1px;
  margin: 0;
}
.card .card-header-img .card-title h3 {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 12px;
  margin: 0;
}
.card .card-meta {
  max-height: 1em;
  color: #888;
  font-size: .7em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0px;
  padding: 12px;
}

.card .card-meta-right {
  max-height: 1em;
  color: #888;
  font-size: .7em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 12px;
}
