.logo {
  font-family: Lobster;
  font-weight: 200;
  font-size: 2.8rem;
  padding-left: 8px;
  color: #333;
}
.pmenu .brand-box {
  padding: 36px 0;
}
.pmenu .brand-ul .active {
  background-color: #333;
}

.pmenu .brand-box p {
  font-family: Lobster;
  font-size: 2.4rem;
  padding-left: 1.2px;
  color: #e1e1e1;
  margin: 0;
}

.card .body {
  background-color: #fff;
}

.showing {
  background-color: #333;
  color: #fff;
  width: 100%;
}

.hidden-code {
  word-wrap: normal;
  border: 0;
  margin-top: -2px;
  margin-bottom: -10px;
  padding: 12px;
  height: 300px;
  font-size: 16px;
}
