@import 'https://fonts.googleapis.com/css?family=Viga';
.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #fff;
  letter-spacing: 2px;
}

.pmenu .brand-box {
  box-shadow: 0px 5px 15px -5px rgba(111,111,111,0.5);
  -webkit-box-shadow: 0px 5px 15px -5px rgba(111,111,111,0.5);
  -moz-box-shadow: 0px 5px 15px -5px rgba(111,111,111,0.5);
  margin-bottom: 24px;
}

.pmenu .brand-box p {
  font-family: 'Viga', sans-serif;
  font-size: 1.5rem;
  color: #e1e1e1;
  margin: 0;
}

.heading-top h5 {
  margin: 0;
  color: #555;
}

.heading-top {
  padding: 8px;
}

.hook-input .text {
  height: 40px;
  padding: 12px;
  margin: 0px;
  width: 80%;
  border-right: 0px solid #000;;
}

.hook-input .submit {
  height: 40px;
  border-radius: 0px;
  padding: 12px;
  margin: 0;
  width: 20%;
  position: absolute;
  line-height: 1.6em;
}

.hook-input .submit:active {
  height: 40px;
  border-radius: 0px;
  padding: 12px;
  margin: 0;
  width: 20%;
  position: absolute;
  line-height: 1.6em;
}

.default-nav ul {
  margin-top: 0px;
}

.default-nav ul li {
  padding: 12px;
}

.default-nav ul li i {
  margin: 0 10%;
}

.drawer-items {
  display:none;
}

.text-logo .logo {
  background-color: #222;
  margin: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
}
.text-logo .logo:hover {
  background-color: #292929;
}

.drawer {
  padding: 0;
}
